body{
    margin: 0%;
    background-color: #C65FEB;
}
h1{
    text-align: center;
}
#question{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#containerOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#option{
    width: 200px;
    margin-bottom: 5px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    background-color: #E8A03A;
    border-radius: 10px;
    border: 2px solid black;
}
#option:hover{
background-color: #EA741A;
}

#next{
    margin-top: 10px;
    cursor: pointer;background-color: #6CED26;
    border: 1px solid black;
    border-radius: 10px;
}
