body{
    margin: 0%;
    background-color: black;
}
#options{
    display: none;
    position: absolute;
    margin-top: 280px;
    margin-left: 30px;
    color: white
}
#options p{
    background-color: coral;
    padding: 2px;
}
#bon, #boff{
    position: absolute;
    margin-top: 200px;
    margin-left: 2px;
    background-color: transparent;
    border: 0;
}
#bomon, #bomoff{
    position: absolute;
    margin-left: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (width < 830px){
    #bomon, #bomoff{
        width: 40%;
    }
    #options{
        z-index: 1;
        width: 20%;
    }
    #bon, #boff{
       width: 20%;
    }
}