body{
    margin: 0%;
    display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        font-family: 'Tilt Neon', sans-serif;
        font-weight: bold;
}
#tl, #tr, #bl, #br{
    width: 100%;
    height: 50vh;
    display: grid;
}
#tl{
    background-color: #BFE8B0;
    grid-column: 1;
    grid-row: 1;
}
#tr{
    background-color: #FFE876;
    grid-column: 2;
    grid-row: 1;
}
#bl{
    background-color: #FE8F7E;
    grid-column: 1;
    grid-row: 2;
}
#br{
    background-color: #AAE2FF;
    grid-column: 2;
    grid-row: 2;
}
/* Imagen central */
#tama-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
#tama {
    width: 200px;
    animation: moveImage 4s linear infinite;
    -webkit-animation: moveImage 4s linear infinite;
}
@keyframes moveImage {
    0% {
        transform: translate(0, 0); /* Posición inicial */
      }
      25% {
        transform: translate(5px, -5px); /* Mover en diagonal hacia arriba 5px */
      }
      50% {
        transform: translate(10px, 0); /* Regresar a la posición original */
      }
      75% {
        transform: translate(5px, 5px); /* Mover en diagonal hacia abajo 5px */
      }
      100% {
        transform: translate(0, 0); /* Regresar a la posición original */
      }
}
/* Barras progreso */
#myProgressG, #myProgressY {
    position: relative;
    width: 80%;
    height: 30px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}
#myProgressR, #myProgressB{
    position: relative;
    width: 80%;
    height: 30px;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}
#myProgressG{
    background-color: lightgreen;
    border: 1px dashed green;
}
#myProgressY {
    background-color: lightyellow;
    border: 1px dashed goldenrod;
}
#myProgressR {
    background-color: lightpink;
    border: 1px dashed darkred;
}
#myProgressB {
    background-color: lightcyan;
    border: 1px dashed darkcyan;
}
#myBarG, #myBarB, #myBarY, #myBarR {
    position: absolute;
    width: 10%;
    height: 100%;
    transition: width 0.3s;
}
/* Botones */
#chuche, #brocoli, #pollo{
    width: 40px;
    height: 40px;
    border: 2px solid green;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
}
#chuche:hover, #brocoli:hover, #pollo:hover{
    background-color: lightseagreen;
    transform: scale(0.90);
}
#chuche img, #brocoli img{
    width: 30px;
}
#pollo img{
    width: 25px;
}
#deberes, #amistad, #burla{
    width: 40px;
    height: 40px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}
#deberes:hover, #amistad:hover, #burla:hover{
    background-color: khaki;
    transform: scale(0.90);
}
#deberes img{
    width: 28px;
}
#amistad img{
    width: 35px;
}
#burla img{
    width: 40px;
}
#futbol, #game, #ducha{
    width: 40px;
    height: 40px;
    border: 2px solid darkred;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}
#btnR, #btnB{
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}
#futbol:hover, #game:hover, #ducha:hover{
    background-color: crimson;
    transform: scale(0.90);
}
#futbol img{
    width: 30px;
}
#game img{
    width: 35px;
}
#ducha img{
    width: 45px;
}
#dormir, #enfado, #cuento{
    width: 40px;
    height: 40px;
    border: 2px solid darkcyan;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}
#dormir:hover, #enfado:hover, #cuento:hover{
    background-color: darkturquoise;
    transform: scale(0.90);
}
#dormir img{
    width: 35px;
}
#enfado img{
    width: 30px;
}
#cuento img{
    width: 37px;
}
#btnG, #btnY, #btnR, #btnB{
    display: flex;
    justify-content: space-evenly;
}
/* Barra progreso felicidad */
#myProgressP {
    position: absolute;
    width: 20%;
    height: 15px;
    background-color:#D5A3F0;
    border: 1px dashed #9A37AD;
    top: 48.5vh;
    left: 15vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}
#myBarP {
    position: absolute;
    width: 1%;
    height: 100%;
    transition: width 0.3s; 
}
/* Texto barras */
#alimentacion, #colegio {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
#casa, #noche{
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 20px;
}
#felicidad{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #712980;
}
#alimentacion{
    color: darkolivegreen;
}
#colegio{
    color: goldenrod;
}
#casa{
    color: crimson;
}
#noche{
    color: darkcyan;
}

