body {
  margin: 0px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Satisfy', cursive;
}
h2{
  color: #EA9367;
  font-size: 30px;
  margin-top: 20px;
}
img {
  width: 100px;
}
#juego {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

#tijeras {
  background-color: #a1d662;
  border: 2px solid greenyellow;
  border-radius: 20px;
}
#tijeras:hover{
    box-shadow: 0px 0px 10px greenyellow;
    cursor: pointer;
}
#papel {
  background-color: burlywood;
  border: 2px solid coral;
  border-radius: 20px;
}
#papel:hover{
    box-shadow: 0px 0px 10px coral;
    cursor: pointer;
}
#piedra{
    background-color: lightblue;
    border: 2px solid darkcyan;
    border-radius: 20px;
}
#piedra:hover{
    box-shadow: 0px 0px 10px darkcyan;
    cursor: pointer;
}
#contador{
  color: white;

}
#contadorPC{
  color: white;
  
}
#resultado{
  margin-top: 30px;
  font-size: 20px;
}
#contadores{
width: 80%;
display: flex;
justify-content: space-around;
margin-top: 20px;
}
#conPlayer{
  padding: 8px;
  background-color: crimson;
  border: 3px solid #a1d662;
}
#conPlayer .p1{
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}
#conPlayer .p2{
  font-size: 20px;
}
#contador{
font-size: 60px;
margin: 0%;
font-weight: bold;
}
#conPC{
  padding: 8px;
  background-color: crimson;
  border: 3px solid #a1d662;
}
#contadorPC{
  font-size: 60px;
  margin: 0%;
  font-weight: bold;
}
#conPC .p3{
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}
#conPC .p4{
  font-size: 20px;
}
